body {
    background:url(../img/brillant.png)repeat;
    color:#fff;
    font-family:helvetica,sans-serif;
    margin:-.5em 0 0 0;
}

a:link, a:visited, a:hover {
    color: #fff;
}

h1 {
    color:#fff;
    font-size: 3em;
    font-weight:normal;
}

h2 {
    color:#222;
    display:inline;
    font-size: 2.2em;
    font-weight:normal;
}

p {
    color:#000;
    font-size:1.3em;
    font-weight:normal;
    line-height:1.2em;
    text-align:justify;
}

.topbar img {
    margin-top:0;
    padding:0;
    width:100%;
}

.header img {
    margin:2em 0;
}

.tagline {
    display:inline;
    margin:2em 0 0 1em;
}

.main {
    background-color: rgba(255,255,255,0.4);
    padding:3em 2em;
    margin-top:-.5em;
}

.content {
    display:inline;
    margin:3em 1.5em;
    padding:0 0 0 2em;
}

.phone {
    padding:1em 0;
}

.info {
    background-color:rgba(0,0,0,0.2);
    padding:2em 0;
    text-variant:small-caps;
}

ul {
    list-style:none;
    margin:1em 0;
}

.footer {
   padding-top:1em;
}
