
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <title>Control Budget App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Control iPhone application for budgeting and spending.">
    <meta name="author" content="Flatterline LLC">

    <!-- styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="../ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
<img src="../img/steps-line.png" />

   <!--  <div class="header">
        <div class="container">
         <img src="../img/download.png" alt="Control App" class="pull-right" width="200px"/>
          </div>
      </div> -->

    <div class="container">
      <div class="span12">

  <div class="container-fluid main">
    <div class="row-fluid">

      <div class="span3 offset1">
            <img src="../img/iphone.png" alt="iPhone illustration" />
      </div>

      <div class="span5 content">
        <div class="row">
          <div class="span4 logo">
            <img src="../img/logo.png" alt="Control App" />
          </div>
          <div class="span8 tagline">
           <h2>Take control of your spending today.</h2>
          </div>
        </div>
            <hr>
               <p>The simplest tool to manage your spending since cash.</p>

               <p>Control is so simple to use it will manage and even save you money without wasting your time. We simplified the traditional budget which tries to account for everything by consolidating it into a single category that immediately and clearly shows you exactly what you need to know: <span style="font-weight:900;">How much money can you spend right now</span>. And because you can only deduct whole dollar amounts from Control you will save money with each transaction.</p>

               <p>Get started today and take control of your spending.</p>
      <div class="container header">
         <img src="../img/download.png" alt="Control App" width="200px"/>
      </div>

      </div>
    </div>
  </div>
        
<div class="container-fluid footer">
  <div class="row-fluid">
    <div class="span12">
          <hr>
    <h2>Contact us:</h2>
      <ul>
        <li>
        <a href="https://twitter.com/intent/tweet?screen_name=ControlApp&text=Support%20request%3A" class="twitter-mention-button" data-size="large" data-related="ControlApp">Tweet to @ControlApp</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </li>
      </ul>
    </div>
  </div>
            <div class="pull-right">
                &copy; 2012 Flatterline LLC
            </div>
</div>
    </div>
    </div> <!-- /container -->

  </body>
</html>
