
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Control Budget App keeps your spending in check without getting in your way.">
    <meta name="author"      content="Flatterline LLC">

   <title>Control Budget App - The simplest iOS solution for managing a spending budget.</title>

    <!-- styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="../ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <img alt="graphic design" src="../img/steps-line.png" class="topbar" />

    <div class="container">
      <div class="container">
        <div class="row main">
          {{ content }}
        </div> <!-- /main -->
      </div> <!-- container for content -->

      <div class="container">
        <div class="row info">
          <div class="span4 offset1 footer">
            &copy; 2012 <a href="http://flatterline.com">Flatterline LLC</a>
          </div>

          <div class="span3 offset3">
            <a href="https://twitter.com/intent/tweet?screen_name=ControlApp&amp;text=Support%20request%3A" class="twitter-mention-button" data-size="large" data-related="ControlApp">
              <img alt="Twitter icon and link to @controlapp." src="../img/twitterbird.png" width="40px" />get supported @controlapp
            </a>
          </div>
        </div>
      </div> <!-- /footer -->
    </div> <!-- /container for page -->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23200193-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>